<dl>
  <dt>width</dt>
  <dd>{{screen.width}}</dd>
  <dt>height</dt>
  <dd>{{screen.height}}</dd>
</dl>

<p>isSmallAndUp: {{screen.isSmallAndUp}}</p>
<p>isMediumAndUp: {{screen.isMediumAndUp}}</p>
<p>isLargeAndUp: {{screen.isLargeAndUp}}</p>
<p>isExtraLargeAndUp: {{screen.isExtraLargeAndUp}}</p>

<hr>

<p>isExtraSmallAndDown: {{screen.isExtraSmallAndDown}}</p>
<p>isSmallAndDown: {{screen.isSmallAndDown}}</p>
<p>isMediumAndDown: {{screen.isMediumAndDown}}</p>
<p>isLargeAndDown: {{screen.isLargeAndDown}}</p>
